<div class="col-md-8 col-md-offset-2 desc-text">
<img src="/images/power.png" class="centerImage" />
<p> Mi primera experiencia usando Ruby on Rails <span class="label label-primary">No Template!</span>, de lo que aprendí rails sirve para desarrollos rápidos escribiendo poco código y le brinda al desarrollador lo necesario para iniciar un proyecto, me parece chido el escribir poco código y a su vez hacer tantas cosas.</p>
<p>Con esta aplicación web aprendí como iniciar un proyecto básico, es probable que haya cosas bien echas o mal echas, pero quien sabe, fue desarrollada a mi criterio jeee.</p>
<p>Se ha de aprender mucho mas colaborando con mas personas, viendo sus diferentes formas de hacer las cosas, y tomar en cuenta sus puntos de vista.</p>
<p>Realizar algo como esto con el conocimiento de php me hubiese tardado un poco, mas sin embargo rails ofrece las herramientas necesarias para iniciar muy rápido, creo que los rails seniors pueden crear cosas con bastante facilidad ahorrando mucho tiempo.</p>
<p>Como seria trabajar en proyectos a modo colaborativo, y en proyectos grandes solo usando rails! .</p>
<p>Que aplicaciones tan enormes se podrían crear en rail! </p>
</div>