<div class="row">
  <div class="col-md-8 col-md-offset-2 well well-sm">
    <div class="row">
      <div class="col-md-3"><h5>Editar Marca</h5></div>
    </div>
   <%= form_for :marca, url: marca_path(@marca), :html => {:class => 'form-horizontal'}, method: :patch do |f| %>
    <% if @marca.errors.any? %>
    <div class="alert alert-danger col-md-4">
      <p>
        El nombre de la marca no puede estar vacio!.
      </p>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.label :Nombre %><br>
          <%= f.text_field :nombre, class: "form-control" %>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-success pull-right" data-disable-with="Save Marca" value="Guardar" name="commit">
  </div>
  <% end %>
</div>