<h1>Lista de Marcas</h1>
 
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
 
  <% @marca.each do |marca| %>
    <tr>
        <td><%= marca.nombre %></td>
     	<td><%= link_to 'Editar', edit_marca_path(marca), class: "btn btn-success btn-xs" %> <%= link_to 'Eliminar', marca_path(marca),
              method: :delete,
              data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
</table>