<div class="row">
	<div class="col-md-8 col-md-offset-2 well well-sm">
		<div class="row">
   			<div class="col-md-3"><h5>Lista de Marcas</h5></div>
  			 <div class="col-md-9"><%= link_to 'Nueva marca', new_marca_path, class: "btn btn-success btn-xs pull-right" %></div>
    	</div>
		<table class="table table-striped">
 		  <tr class="center">
		    <th>Nombre</th>
		    <th>Acciones</th>
		  </tr>
		 <% @marca.each do |marca| %>
		    <tr class="center">
		        <td><%= marca.nombre %></td>
		     	<td><%= link_to 'Editar', edit_marca_path(marca), class: "btn btn-primary btn-xs" %> <%= link_to 'Eliminar', marca_path(marca),class: "btn btn-danger btn-xs",
		              method: :delete,
		              data: { confirm: 'Estas seguro?, Tambien eliminaras todos los productos asociados' } %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
</div>
