<%= form_for :marca, url: marcas_path do |f| %>

 <% if @marca.errors.any? %>
    <div id="error_explanation">
      <h2>
        El nombre de la marca no puede estar vacio!.
      </h2>
    </div>
  <% end %>

  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <input type="submit" class="btn btn-success" data-disable-with="Save Marca" value="Guardar" name="commit">
  </p>
<% end %>