 @import "bootstrap";

    .field_with_errors { @extend .has-error; }
    .alert-notice { @extend .alert-info; }
    .alert-alert { @extend .alert-danger; }

    body{background-color: #DFEEE9;}

    .desc-text p {text-align: justify;text-justify: inter-word;}
    .centerImage {display: block; margin-left: auto; margin-right: auto }
    tr.center th, tr.center td {text-align: center;}